.hero{
    padding: 5.6vw;
    min-height: 80vh;
    background-image:url(../images/hero_ds.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
    @media (max-width: 768px){
    background-image: none;
    }


    h3{
        font-family: Spiderman, sans-serif;
    }

    &__content{
        max-width: 640px;


        &__branding{
            max-width: 320px;
            margin: 0 auto 38px;
        }

        .title--small{
            margin-bottom: 64px;
        }

        p{
            margin-bottom: 18px;
        }

        &__planos{

            display: flex;
            justify-content: space-between;

            &__plano{
                width: calc(50% - 12px);

                img{
                    width: 100%;
                }

                button{
                    display: block;
                    width: 100%;
                    height: 60px;
                    font-size: 18px;
                    color:#f9f9f9;
                    background-color: #7c1c17;
                    text-transform: uppercase;
                    margin-top: 2vw;
                    margin-bottom: 8px;
                    border-radius: 10px;
                    
                }
            }
        }
    }
}