@use 'hero';
@use 'shows';
@use 'variaveis';
@use 'plans';


@font-face{
    font-family: Spiderman;
    src: url(/assets/fonts/The\ Amazing\ Spider-Man.woff2);
    font-weight: 400;
}

@font-face{
    font-family: Avenir;
    src: url(/assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face{
    font-family: Avenir;
    src: url(/assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box; 
    font-family: Avenir, sans-serif;
}

body{
    background-color: variaveis.$CorFundo;
}

@mixin text($fontSize: 16px){
    color:#c1c7e3;
    font-size: $fontSize;
    line-height: $fontSize + 10px;
}

@mixin title($fontSize: 40px){
    @include text($fontSize);
    color:#f9f9f9;
}

.text--big{
    @include text(18px);

    @media (max-width: 768px){
        @include text(12px)
    }
}

.text{
    @include text;
    
    @media (max-width: 768px){
        @include title(12px)
    }
}

.text--smal{
    @include text(12px);

    
    @media (max-width: 768px){
        @include title(10px)
    }
}

.title--big{
    @include title(44px);
    @media (max-width: 768px){
        @include title(22px)
    }
}

.title{
    @include title;

    @media (max-width: 768px){
        @include title(20px)
    }
}

.title--small{
    @include title(28px);
    
    @media (max-width: 768px){
        @include title(14px)
    }
}

.link-text{
    @include text(18px);
    text-decoration: underline;
}

.logo{
    width: 100%;
}
